.my-custom-button{
    padding: 1rem 1.5rem;
    color: white;
    background: #1abc9c;
    outline: none;
    border: none;
    border-radius: 4px;
    transition: 400ms linear all;
    cursor: pointer;

    &:hover{
        background-color: lighten($color: #1abc9c, $amount: 20);
    }


    
}